.form{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 160px;
    font-size: 30px;
    background-color: rgb(238, 245, 243);
    margin-bottom: 70px;
    background-image: url("https://i.pinimg.com/736x/b0/7f/52/b07f5209cec4605ecd89675b085ca807.jpg");
}
.main{

}
.form1{
    background-color: rgb(241, 188, 165);
    background-size: cover;
    width:80%;
    padding :10px 10px 10px 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.select1{
   padding:20px 10px 20px 10px;
   margin-right: 80%;
}
.formsub{
    margin-top:20px;
    display: flex;
    padding:7px 12px 7px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 85%;
}
.userform{
    background-color: black;
    background-image: url("https://i.pinimg.com/736x/b0/7f/52/b07f5209cec4605ecd89675b085ca807.jpg");
}
